{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gol Girls</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- <script defer src="{% static 'js/scripts.js' %}" ></script> -->
    </head>
<body>
    <!-- <header>
        <nav><p>GOL! GIRLS</p></nav>
        <p>
            E aí, artilheira! Crie sua partida ou jogue em uma!
        </p>
        <p>Inscreva-se!</p>
    </header> -->
    <section>
        {% block conteudo %}

        {% endblock %}  
    </section>
    <footer>Site Gol! Girls</footer>
</body>
</html>