{% extends 'shared/layout.html' %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">


<header>
    <nav>
        <p>GOL GIRLS</p>

    <input type="checkbox" id="navicon">
        <div class="nav-toggle">
          <label for="navicon" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
    <nav class="sidebar" role="complementary">
        <a class="textonav" href="#home">Home</a>
        <a class="textonav" href="index">Participe</a>
        <a class="textonav" href="sobre">Sobre</a>
    </nav>
    </nav>

    <h2>
        E aí, artilheira! Crie sua partida ou jogue em uma!

    </h2>

</header>

<main>
    <H1>sobre</H1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas numquam corporis natus fugit aliquam id vero labore, perferendis nesciunt totam dolorem iste tempora nostrum optio, amet laborum quibusdam odit possimus.</p>
</main>


<section>
    <form action="/funcionalidades/templates/index.html" method="post">
        {% csrf_token %}
        <a href="index">
            Cadastre-se
        </a>
    </form>    
    <form action="/funcionalidades/templates/login.html" method="post">
        {% csrf_token %}
        <a href="login">
            Já é Cadastrado?
        </a>
    </form>  
</section>
    


{% endblock %}

