{% extends 'shared/layout.html' %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">


<header>
    <div class="text">
        <h2>
            Bem vinda ao Gol!Girls
            <p>
                Crie sua partida ou encontre uma para jogar!
            </p>

        </h2>
    </div>
    <div class="botoes">    
        <form class="formheader" action="/funcionalidades/templates/index.html" method="post">
            {% csrf_token %}
            <a href="index">
                Cadastre-se
            </a>
        </form>    
        <form class="formheader" action="/funcionalidades/templates/login.html" method="post">
            {% csrf_token %}
            <a href="login">
                Já é Cadastrada?
            </a>
        </form> 
    </div>
</header>


<section class="mae">
    <div class="divspan">
        <span>
            <img class="imagem" src="{% static 'img/football.png' %}" alt="">
        </span>
        <h3>Crie e participe de partidas de futebol</h3>
    </div>

    <div class="divspan">
            <span>
                <img class="imagem" src="{% static 'img/woman.png' %}" alt="">
            </span>
            <h3>Conheça novas pessoas e faça amizades</h3>
    </div>

    <div class="divspan">
            <span >
                <img class="imagem" src="{% static 'img/campo.png' %}" alt="">
            </span>
            <h3>Oportunidade de participar de peneiras</h3>
    </div>

</section>

<main>
    <div class="texto">
         <H1>Sobre</H1>
        <p>Gol! Girls é para meninas que desejam jogar futebol com outras meninas. 
        Percebendo a dificuldade em encontrar parceiras de jogo, a plataforma foi criada para simplificar a hora de bater 
         uma bola! Aqui você pode marcar partidas, decidir o dia, o horário e o local, depois disso é só amarrar as chuteiras e partir para o ataque! 
         Além disso, você pode socializar com outras jogadoras e participar de quantas partidar desejar.
        Eai, bora jogar?</p>
    </div>        
    <div class="logoindex">
        <img class='logoverde' src="{%static 'img/logoverde.png'%}">
    </div>
</main>


<footer>
    <div class="patrocinadores">
    <h3> Apoio </h3>
    <img class="master" src="{%static 'img/mastertech.png' %}" alt="">
    <img class="hack" src="{%static 'img/hack.png' %}" alt="">
    </div>

    <div class="local">
        <h3>Localização</h3>
        <p class="paulista">
             Av. Paulista, 1374 - Bela Vista, São Paulo - SP, 01310-100
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.163571985291!2d-46.65694605093781!3d-23.562568067443447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8e65114ab%3A0x77a9bdfbd2f90d5b!2sAv.+Paulista%2C+1374+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP%2C+01310-100!5e0!3m2!1spt-BR!2sbr!4v1566055027345!5m2!1spt-BR!2sbr" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="informacoes">
    <h3>Fale com a gente:</h3>
    Email: golgirls@outlook.com
    <div class="icon">
        <img  class='icons' src= "{%static 'img/insta.png' %}" alt="">
        <img class='icons' src="{%static 'img/face.png'%}" alt="">
        <img  class='icons'src="{%static 'img/twitter.png' %}" alt="">
    </div>
</div>

</footer>
    


{% endblock %}

