{% extends 'shared/layout.html' %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<section class="formlogin">
    <h1>Insira seu email e senha para realizar o login</h1>
    <div class="login1">
        <div class="img">
            <img src="{% static 'img/user.png' %}" alt="">
        </div>
        <p class="msg">{{msg}}</p>
        <div class="form">
            <form action="/login" method="post">
                {% csrf_token %}
                <label >Digite seu email</label>
                <input type="email" name="email" placeholder="E-mail">
                <label>Digite sua senha</label>
                <input type="password" name="senha" placeholder="Senha">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</section>    
     <!-- <footer>
        <p>Desenvolvido por Gol!Girls.</p>
    </footer>     -->

{% endblock %}