{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% if pessoa is None %}
        <h1>Ops, você precisa se cadastrar</h1>
        <p>
            <a href="/">clique aqui para se cadastrar</a>
        </p>
    {% else %}
        <h2 class="title">Cadastre a sua ideia {{pessoa.nome}}</h2>
    <div  class="cadastro">    
        <form action="/partidas" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{pessoa.email}}">
            <input type="hidden" name="senha" value="{{pessoa.senha}}">
            <input type="hidden" name="nome" value="{{pessoa.nome}}">
            <label>Nome da partida</label>
            <input type="text" name="titulo" placeholder="Partida">
            <label>Data  e Horário da partida</label>     
            <input type="datetime" name="data">
            <label>Local da partida</label>
            <input type="text" name="local">
            <input type="submit" value="Cadastrar Partida">
        </form>
        <h2 class="title">Ou</h2>
        <form class="conheca" action="/funcionalidades/templates/sobre.html" method="post" >
            {% csrf_token %}
            <a href="sobre" class="ancora">
                Conheça nossas partidas
            </a>
        </form>
    </div>    

{% endif %}
{% endblock %}