body{
    margin:0px;
}
header{
    width: 100%;
    height: 290px;
    margin: 70px 0 0 0;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    align-items: center;
}

header::after {
    content: "";
    background: url(/static/img/foto.jpg);
    background-size: 100%;
    margin: 0 0 36vh 0;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
}


h1{
    padding-bottom: 20px;
    padding-top: 10px;
    text-align-last: center;
    /* border-top: 15px solid #52F3C5; */
    margin: 5px 0 0 0;

}
.sobre, .logoindex {
    width: 100%;

}

main p{
    text-align-last: center;
    text-align: justify;
    padding-left: 15px;
}
.texto{
    padding: 5px;
    margin: 5px;
    width: 50%;
}

main{
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;

}
.logoindex {
    width: 200px;
    height: 200px;
    padding-left: 100px;
    padding-top: 30px;
}


.mae{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagem{
    margin: 16px;
}

.divspan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2 0 4px 0;
}


.formheader{
    margin: 15px 0 15px 0;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #52F3C5;
}

.formheader :hover{
    opacity: 0.2;
}

footer{
    background-image: linear-gradient( #FBF9ED,#5BDADE, #52F3C5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.patrocinadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.master{
    width: 200px;
}

.hack{
    width: 160px;
}

h3{
    padding: 5px;
}
.icon{
    padding-top: 20px;
}

.local{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paulista{
    padding-bottom: 5px;
}

.informacoes{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.nav-toggle{
    border-radius: 50px;
}
h2{
    font-family: 'Livvic', sans-serif;
    font-size: 35pt;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    display:flex;
    text-align: center;
    flex-direction: column;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
}
.text{
    width: 70%;
}
.botoes{
    width: 30%;
    padding: 50px;
    text-align: center;
}
