body{
    margin:0px;
}
header{
    width: 100%;
    height: 290px;
    margin: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header::after {
    content: "";
    background: url(/static/img/foto.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
  }


h1{
    padding-bottom: 20px;
    padding-top: 10px;
    text-align-last: center;
}

main p{
    text-align-last: center;
}

main{
    background-color: white;
    width: 100%;
    height: 200px;
}

.mae{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagem{
    margin: 16px;
}

.divspan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.formheader{
    margin: 15px 0 15px 0;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #8C4C46;
}

.formheader :hover{
    opacity: 0.2;
}

footer{
    background-image: linear-gradient(#8C4C46, #401915);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.patrocinadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.master{
    width: 200px;
}

.hack{
    width: 160px;
}

h3{
    padding: 5px;
}
.icon{
    padding-top: 20px;
}

.local{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paulista{
    padding-bottom: 5px;
}

.informacoes{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}