body{
    background-image: linear-gradient(to left, #014040, #027368, #03A696);  
}
form{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin: 15px 0 15px 0;
}
form input{
    height: 5vh;
    width: 50vh;
    
}
.login1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 60vh;
    /* margin: 100px 0 0 0; */
    border-radius: 30px;
    background-color: white;
    opacity: -5px;
}
.formlogin{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

footer{
    display: flex;
    color:white;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
h1{
    display: flex;
    color:white;
    height: 9vh;
    justify-content: center;
    align-items: center;
}


/* .inputenv{
    background-color: #731A44;
}

.menu p {
    background-color: whitesmoke;
} */